@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  font-family: "EB Garamond", serif;
  color: #faf6e7;
  margin: 0;
  padding: 0; }

body {
  background-image: url("../recursos/header/fondo.jpg"); }
  body main {
    min-height: 80vh; }

header {
  width: 100%; }
  header .navbar .container-fluid {
    justify-content: flex-start; }
  header .navbar-collapse {
    max-width: 50%;
    margin-left: 5vw; }
  header .nav-link {
    color: #faf6e7;
    font-size: 1.5rem;
    margin-left: 3vw; }
  header .nav-link:focus {
    color: #faf6e7; }
  header .nav-link:hover {
    color: #faf6e7; }
  header .dropdown-menu {
    background-color: #1b1b1b; }
  header .dropdown-item {
    color: #faf6e7; }
  header .menuGry:hover {
    color: #f7ee23;
    background-color: #740001; }
  header .menuHuf:hover {
    color: #2c1f10;
    background-color: #f2c136; }
  header .menuRav:hover {
    color: #e6edea;
    background-color: #121d3e; }
  header .menuSly:hover {
    color: #e2e3e4;
    background-color: #177553; }
  header .icono {
    max-width: 5vw; }

footer {
  margin-top: 3vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between; }
  footer .footerizq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw; }
    footer .footerizq h4,
    footer .footerizq h5 {
      color: #faf6e7;
      margin-left: 3vw;
      margin-top: 2vh; }
  footer form {
    display: flex;
    margin-top: 2vh;
    width: 40vw; }
    footer form span {
      font-size: 1.5rem;
      margin-right: 1vw; }
    footer form .email {
      width: 20vw;
      max-height: 6vh;
      color: black;
      font-size: 0.8rem;
      font-weight: 500;
      outline: none;
      border: none;
      box-shadow: 0px 0px 10px black;
      padding-left: 0.5vw; }
    footer form .boton {
      max-height: 6vh;
      min-width: 7vw;
      margin-left: 1vw;
      color: black;
      font-weight: 500;
      padding: 0 0.5vw 0 0.5vw; }
  footer .redes {
    margin-right: 1vw;
    width: 10vw; }
    footer .redes h5 {
      margin-left: 0; }
  footer .imgRedes {
    max-width: 3vw;
    margin-bottom: 1vh; }
  footer .wizarding {
    margin-left: 17%;
    margin-top: 1vh; }
  footer .imgRedes:hover {
    box-shadow: 0px 0px 3px #faf6e7; }
  footer .wizarding:hover {
    box-shadow: none; }

.encabezadoCasas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh; }
  .encabezadoCasas div {
    max-width: 50%; }
  .encabezadoCasas h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoCasas p {
    padding-right: 0.5vw;
    margin-left: 3vw;
    font-size: 3rem; }
  .encabezadoCasas img {
    max-height: 80vh;
    margin-right: 1vw; }

.presentacion {
  max-width: 98%;
  max-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .presentacion p {
    font-size: 3rem;
    max-width: 45vw;
    margin-left: 2vw; }
  .presentacion img {
    max-width: 40vw;
    margin-right: 1vw; }

.fundador {
  max-width: 98%;
  margin: auto;
  margin-top: 2vh;
  display: flex; }
  .fundador img {
    box-shadow: 0.5px 0.5px 20px black;
    float: right;
    padding: 1vw;
    margin-top: 9vh;
    margin-left: 1vw;
    margin-right: 1vw; }
  .fundador h3 {
    padding-left: 3vw;
    font-size: 3rem; }
  .fundador p {
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 1.5rem;
    max-width: 95%; }

.curiosidades {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  margin-top: 2vh; }
  .curiosidades .salaComun {
    margin-bottom: 2vh;
    padding: 1vh 1vw 0 1vw; }
    .curiosidades .salaComun p {
      max-width: 98%; }
  .curiosidades .reliquia {
    display: flex;
    margin-bottom: 2vh; }
    .curiosidades .reliquia img {
      max-height: 50vh;
      margin: 1vw;
      box-shadow: 0.5px 0.5px 20px black; }
  .curiosidades .famosos {
    display: flex;
    justify-content: space-around; }
    .curiosidades .famosos .ulFamosos {
      width: 65%;
      box-shadow: none; }
    .curiosidades .famosos div {
      width: 30vw;
      padding: 1vw 1vh 1vw 1vh;
      margin: 1vw;
      box-shadow: 0.5px 0.5px 20px black; }
      .curiosidades .famosos div img {
        max-width: 98%;
        padding-left: 1.5vw;
        padding-right: 1vw;
        margin-top: 2vh; }
      .curiosidades .famosos div p {
        font-size: 1rem;
        padding: 0; }
  .curiosidades h3 {
    margin: 0;
    padding-left: 3vw;
    font-size: 3rem; }
  .curiosidades h4 {
    padding-left: 1vw;
    font-size: 2rem; }
  .curiosidades p {
    font-size: 1.5rem;
    padding-left: 1vw; }
  .curiosidades li {
    font-size: 1.5rem;
    padding-left: 1vw;
    list-style: none; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #1b1b1b; }

body::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #363636;
  border-radius: 3vh; }

@media (max-width: 1066px) {
  .presentacion {
    max-height: 80vh; }
    .presentacion p {
      font-size: 2.5rem; }
  footer .footerizq {
    width: 45vw; } }

@media (max-width: 991px) {
  header .navbar .container-fluid {
    justify-content: space-between; }
  header .navbar .boton {
    width: 25%; }
  header .nav-link {
    margin-left: 0; }
  header .navbar-collapse {
    margin-left: 0; }
  .bg-dark {
    --bs-bg-opacity: 0.8; }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  footer .footerizq {
    width: 45vw; }
    footer .footerizq h4, footer .footerizq h5 {
      font-size: 1rem;
      margin-left: 1vw; }
  footer form {
    flex-direction: column;
    align-items: center;
    width: 40vw; }
    footer form span {
      font-size: 1.2rem;
      margin-right: 0; }
    footer form .email {
      width: 30vw;
      height: 4vh;
      text-align: center;
      margin-top: 1vh; }
    footer form .boton {
      margin-top: 1vh;
      margin-bottom: 1vh; } }

.encabezadoIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.6);
  margin-bottom: 2vh; }
  .encabezadoIndex h1 {
    color: #faf6e7;
    font-size: 7rem;
    margin-bottom: -80px; }
  .encabezadoIndex img {
    max-width: 45vw;
    margin-bottom: -80px; }
  .encabezadoIndex p {
    color: #faf6e7;
    font-size: 3rem; }

.bienvenida {
  display: flex;
  background-color: #1b1b1b;
  justify-content: space-between; }
  .bienvenida p {
    max-width: 50%;
    color: #faf6e7;
    font-size: 2rem;
    padding-left: 2vw;
    padding-top: 2vh; }
  .bienvenida img {
    max-width: 30%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 4vw; }

.mainMenu {
  width: 95%;
  margin: auto; }
  .mainMenu .mainLibros, .mainMenu .mainColeccionables, .mainMenu .mainGry, .mainMenu .mainHuf, .mainMenu .mainRav, .mainMenu .mainSly {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 35%, rgba(67, 110, 125, 0.7) 90%);
    justify-content: space-between;
    align-items: center;
    color: #faf6e7;
    text-decoration: none; }
    .mainMenu .mainLibros h2, .mainMenu .mainColeccionables h2, .mainMenu .mainGry h2, .mainMenu .mainHuf h2, .mainMenu .mainRav h2, .mainMenu .mainSly h2 {
      font-size: 3rem;
      padding-left: 3vw; }
    .mainMenu .mainLibros img, .mainMenu .mainColeccionables img, .mainMenu .mainGry img, .mainMenu .mainHuf img, .mainMenu .mainRav img, .mainMenu .mainSly img {
      max-width: 10%;
      padding-top: 2vh;
      padding-bottom: 2vh;
      padding-right: 2vw; }
  .mainMenu .mainGry {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(154, 28, 31, 0.9) 95%); }
  .mainMenu .mainHuf {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(242, 193, 54, 0.9) 95%); }
  .mainMenu .mainRav {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(18, 29, 62, 0.9) 95%); }
  .mainMenu .mainSly {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(23, 117, 83, 0.9) 95%); }

@media (max-width: 1066px) {
  .encabezadoIndex h1 {
    font-size: 5rem; }
  .bienvenida p {
    max-width: 65%; }
  .bienvenida img {
    max-width: 49vh; } }

.encabezadoLibros {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 0.6);
  margin-bottom: 2vh; }
  .encabezadoLibros span {
    width: 50%; }
  .encabezadoLibros h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoLibros p {
    margin-left: 1vw;
    font-size: 2.5rem; }
  .encabezadoLibros img {
    margin-right: 1vw; }

.reseñaLibros {
  background-color: #1b1b1b;
  max-width: 98%;
  margin: auto;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: nowrap; }
  .reseñaLibros h2 {
    font-size: 3rem;
    text-align: center; }
  .reseñaLibros p {
    font-size: 1.5rem;
    padding-left: 2vh; }
  .reseñaLibros img {
    max-height: 70vh;
    padding: 2vh; }
  .reseñaLibros input {
    background-color: #faf6e7;
    min-width: 10vw;
    max-height: 7vh;
    font-size: 1.5rem;
    color: #1b1b1b;
    margin-left: 50%;
    margin-bottom: 1vh;
    border-radius: 30vh;
    border: none;
    box-shadow: 1px 1px 10px black; }
  .reseñaLibros input:hover {
    background-color: #1b1b1b;
    color: #faf6e7;
    box-shadow: 0px 0px 2px #faf6e7; }

@media (max-width: 1066px) {
  .encabezadoLibros h1 {
    font-size: 3rem; }
  .encabezadoLibros img {
    max-width: 65vh; }
  .reseñaLibros h2 {
    font-size: 2.5rem; } }

.encabezadoCol {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 0.6); }
  .encabezadoCol h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoCol p {
    margin-left: 1vw;
    font-size: 2.5rem; }
  .encabezadoCol img {
    max-width: 50%;
    padding: 1vw; }

.productos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  overflow: hidden; }

.formProductos {
  background-color: #1b1b1b;
  margin-top: 2vh;
  margin-left: 1vw;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #faf6e7;
  padding: 3vh; }
  .formProductos .busqueda {
    background-color: #363636;
    max-width: 100%;
    color: #faf6e7;
    padding: 0.5vw;
    margin-bottom: 3vh;
    border-radius: 12vh;
    border: 1px solid black; }
  .formProductos .busqueda::placeholder {
    color: #faf6e7; }
  .formProductos .busqueda:focus {
    box-shadow: none;
    border: none; }
  .formProductos select {
    background-color: #363636;
    margin-bottom: 3vh;
    border: 1px solid black; }
    .formProductos select option {
      color: #faf6e7; }
  .formProductos .check {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh; }
  .formProductos .precio {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    align-items: center; }
  .formProductos .inputPrecio {
    max-width: 100%;
    background-color: #363636; }
  .formProductos .botonPrecio {
    width: 50%;
    margin-left: 25%; }

.grillaProductos {
  background-color: #1b1b1b;
  max-width: 83%;
  margin-right: 1vw;
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

h2 {
  width: 100%;
  padding-left: 1vw;
  padding-top: 1vh; }

.cromo {
  box-shadow: 0px 0px 10px black;
  width: 20%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 1vw 2vh 1vw; }
  .cromo h3 {
    padding-top: 0.5vh; }
  .cromo img {
    max-width: 95%;
    margin-bottom: 0.5vw; }
  .cromo p {
    width: 95%;
    min-height: 27vh;
    margin: auto;
    margin-bottom: 1vh;
    font-size: 1.2rem;
    transition: height 2s; }
  .cromo .boton {
    background-color: #faf6e7;
    color: #1b1b1b;
    width: 7.5vw;
    border: none;
    border-radius: 1vh;
    box-shadow: 1px 1px 10px black;
    margin-bottom: 1vh; }

@media (max-width: 1066px) {
  .formProductos {
    max-width: 20%; }
  .cromo {
    width: 21%; }
    .cromo h3 {
      font-size: 1.3rem; }
    .cromo p {
      margin-top: 0;
      min-height: 35vh; }
    .cromo .boton {
      width: 10vw; } }

.eGryffindor {
  background-color: rgba(116, 0, 1, 0.5); }
  .eGryffindor h1 {
    color: #dcaf3a; }
  .eGryffindor i {
    color: #dcaf3a; }

.preGryffindor {
  background-color: rgba(116, 0, 1, 0.7); }
  .preGryffindor p {
    color: #dcaf3a;
    max-width: 60%;
    padding-right: 0.5vw; }
  .preGryffindor img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }
  .fGryffindor h3 {
    color: #dcaf3a;
    text-shadow: 0px 0px 30px #f7ee23; }
  .fGryffindor p {
    color: #dcaf3a; }

.scGryffindor {
  background-color: rgba(116, 0, 1, 0.4);
  color: #dcaf3a; }

.rGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }

.famGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }
  .famGryffindor p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cGryffindor {
  margin: 0;
  background-color: rgba(116, 0, 1, 0.4);
  color: #dcaf3a;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Gryffindor {
  color: #dcaf3a; }

.pGryffindor {
  color: #dcaf3a; }

.liGryffindor {
  color: #dcaf3a; }

@media (max-width: 1066px) {
  .preGryffindor img {
    max-height: 65vh; } }

.eHufflepuff {
  background-color: rgba(242, 193, 54, 0.7); }
  .eHufflepuff h1 {
    color: #131a1c; }
  .eHufflepuff i {
    color: #2c1f10; }
  .eHufflepuff img {
    max-height: 70vh; }

.preHufflepuff {
  background-color: rgba(242, 193, 54, 0.8);
  max-height: 80vh; }
  .preHufflepuff p {
    max-width: 55%;
    color: #2c1f10;
    font-weight: 500; }
  .preHufflepuff img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fHUfflepuff {
  background-color: rgba(242, 193, 54, 0.8); }
  .fHUfflepuff h3 {
    color: #131a1c;
    text-shadow: 0px 0px 25px #2c1f10; }
  .fHUfflepuff p {
    color: #2c1f10;
    font-weight: 500; }

.scHufflepuff {
  background-color: rgba(242, 193, 54, 0.8);
  color: #2c1f10; }
  .scHufflepuff p {
    max-width: 90vw;
    font-weight: 500; }

.rHufflepuff {
  background-color: rgba(242, 193, 54, 0.8); }

.famHufflepuff {
  background-color: rgba(242, 193, 54, 0.8); }
  .famHufflepuff p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cHufflepuff {
  margin: 0;
  background-color: rgba(242, 193, 54, 0.8);
  color: #2c1f10;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Hufflepuff {
  color: #2c1f10; }

.pHufflepuff {
  color: #2c1f10; }

.liHufflepuff {
  color: #2c1f10; }

.eRavenclaw {
  background-color: rgba(45, 58, 101, 0.5); }
  .eRavenclaw div {
    max-width: 65%; }
  .eRavenclaw h1 {
    color: #e6edea; }
  .eRavenclaw i {
    color: #e6edea; }

.preRavenclaw {
  background-color: rgba(45, 58, 101, 0.9);
  max-height: 90vh; }
  .preRavenclaw p {
    color: #e6edea;
    max-width: 65%;
    padding-right: 0.5vw; }
  .preRavenclaw img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }
  .fRavenclaw h3 {
    color: #e6edea;
    text-shadow: 0px 0px 30px #e6edea; }
  .fRavenclaw p {
    color: #e6edea; }

.scRavenclaw {
  background-color: rgba(45, 58, 101, 0.9);
  color: #e6edea; }
  .scRavenclaw p {
    max-width: 90vw; }

.rRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }

.famRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }
  .famRavenclaw p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cRavenclaw {
  margin: 0;
  background-color: rgba(45, 58, 101, 0.9);
  color: #e6edea;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Ravenclaw {
  color: #e6edea; }

.pRavenclaw {
  color: #e6edea; }

.liRavenclaw {
  color: #e6edea; }

@media (max-width: 1066px) {
  .eRavenclaw p {
    font-size: 2.5rem; }
  .curiosidades .rRavenclaw p {
    font-size: 1.3rem; }
  .curiosidades .rRavenclaw img {
    max-height: 53vh;
    margin-top: 4vh; } }

.eSlytherin {
  background-color: rgba(21, 48, 42, 0.6);
  min-height: 80vh; }
  .eSlytherin div {
    max-width: 65%; }
  .eSlytherin h1 {
    color: #e2e3e4;
    margin-bottom: 2vh; }
  .eSlytherin p {
    margin-top: 5vh; }
  .eSlytherin i {
    color: #e2e3e4; }

.preSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  max-height: 80vh; }
  .preSlytherin p {
    color: #e2e3e4;
    max-width: 65%;
    padding-right: 0.5vw; }
  .preSlytherin img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fSlytherin {
  background-color: rgba(21, 48, 42, 0.9); }
  .fSlytherin h3 {
    color: #e2e3e4;
    text-shadow: 0px 0px 15px #177553; }
  .fSlytherin p {
    color: #e2e3e4; }

.scSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  color: #e2e3e4; }
  .scSlytherin p {
    max-width: 90vw; }

.curiosidades .rSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  display: inline-block; }
  .curiosidades .rSlytherin .imgGuardapelo {
    float: right;
    margin-top: 9vh;
    margin-right: 2vw; }
  .curiosidades .rSlytherin p {
    max-width: 98%; }

.famSlytherin {
  background-color: rgba(21, 48, 42, 0.9); }
  .famSlytherin p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cSlytherin {
  margin: 0;
  background-color: rgba(21, 48, 42, 0.9);
  color: #e2e3e4; }

.h4Slytherin {
  color: #e2e3e4; }

.pSlytherin {
  color: #e2e3e4; }

.liSlytherin {
  color: #e2e3e4; }
