@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: "EB Garamond", serif;
  color: #faf6e7;
  margin: 0;
  padding: 0; }

body {
  background-image: url("../recursos/header/fondo.jpg"); }
  body main {
    min-height: 80vh; }

header {
  width: 100%; }
  header .navbar .container-fluid {
    justify-content: flex-start; }
  header .navbar-collapse {
    max-width: 50%;
    margin-left: 5vw; }
  header .nav-link {
    color: #faf6e7;
    font-size: 1.5rem;
    margin-left: 3vw; }
  header .nav-link:focus {
    color: #faf6e7; }
  header .nav-link:hover {
    color: #faf6e7; }
  header .dropdown-menu {
    background-color: #1b1b1b; }
  header .dropdown-item {
    color: #faf6e7; }
  header .menuGry:hover {
    color: #f7ee23;
    background-color: #740001; }
  header .menuHuf:hover {
    color: #2c1f10;
    background-color: #f2c136; }
  header .menuRav:hover {
    color: #e6edea;
    background-color: #121d3e; }
  header .menuSly:hover {
    color: #e2e3e4;
    background-color: #177553; }
  header .icono {
    max-width: 5vw; }

footer {
  margin-top: 3vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between; }
  footer .footerizq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw; }
    footer .footerizq h4,
    footer .footerizq h5 {
      color: #faf6e7;
      margin-left: 3vw;
      margin-top: 2vh; }
  footer form {
    display: flex;
    margin-top: 2vh;
    width: 40vw; }
    footer form span {
      font-size: 1.5rem;
      margin-right: 1vw; }
    footer form .email {
      width: 20vw;
      max-height: 6vh;
      color: black;
      font-size: 0.8rem;
      font-weight: 500;
      outline: none;
      border: none;
      box-shadow: 0px 0px 10px black;
      padding-left: 0.5vw; }
    footer form .boton {
      max-height: 6vh;
      min-width: 7vw;
      margin-left: 1vw;
      color: black;
      font-weight: 500;
      padding: 0 0.5vw 0 0.5vw; }
  footer .redes {
    margin-right: 1vw;
    width: 10vw; }
    footer .redes h5 {
      margin-left: 0; }
  footer .imgRedes {
    max-width: 3vw;
    margin-bottom: 1vh; }
  footer .wizarding {
    margin-left: 17%;
    margin-top: 1vh; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #1b1b1b; }

body::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #363636;
  border-radius: 3vh; }

@media (max-width: 1066px) {
  .presentacion {
    max-height: 80vh; }
    .presentacion p {
      font-size: 2.5rem; }
  footer .footerizq {
    width: 45vw; } }

@media (max-width: 991px) {
  header .navbar .container-fluid {
    justify-content: space-between; }
  header .navbar .boton {
    width: 25%; }
  header .nav-link {
    margin-left: 0; }
  header .navbar-collapse {
    margin-left: 0; }
  .bg-dark {
    --bs-bg-opacity: 0.8; }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  footer .footerizq {
    width: 45vw; }
    footer .footerizq h4, footer .footerizq h5 {
      font-size: 1rem;
      margin-left: 1vw; }
  footer form {
    flex-direction: column;
    align-items: center;
    width: 40vw; }
    footer form span {
      font-size: 1.2rem;
      margin-right: 0; }
    footer form .email {
      width: 30vw;
      height: 4vh;
      text-align: center;
      margin-top: 1vh; }
    footer form .boton {
      margin-top: 1vh;
      margin-bottom: 1vh; }
  footer .redes h5 {
    font-size: 1rem; } }

@media (max-width: 600px) {
  header .icono {
    max-width: 10vw; }
  .navbar-nav .container-fluid {
    overflow: hidden; }
  .navbar-nav .dropdown-menu.show {
    width: 25vw;
    min-width: 0; }
    .navbar-nav .dropdown-menu.show .dropdown-item {
      padding: 0;
      padding-left: 1vw; }
  footer .footerizq {
    width: 45vw; }
    footer .footerizq h4, footer .footerizq h5 {
      font-size: 0.7rem;
      margin-left: 1vw; }
  footer form {
    flex-direction: column;
    align-items: center;
    width: 40vw; }
    footer form span {
      font-size: 0.7rem;
      margin-right: 0; }
    footer form .email {
      width: 25vw;
      height: 4vh;
      text-align: center;
      margin-top: 1vh; }
    footer form .boton {
      margin-top: 1vh;
      margin-bottom: 1vh;
      font-size: 0.7rem; }
  footer .redes h5 {
    font-size: 0.7rem; }
  footer .redes img {
    max-width: 2.5vw; } }

@media (max-width: 425px) {
  header .icono {
    max-width: 15vw; }
  header .nav-link {
    font-size: 1.2rem; }
  footer .footerizq {
    width: 45vw; }
    footer .footerizq h4, footer .footerizq h5 {
      font-size: 0.8rem;
      margin-left: 1vw; }
  footer form {
    flex-direction: column;
    align-items: center;
    width: 35vw; }
    footer form span {
      font-size: 0.8rem;
      margin-right: 0; }
    footer form .email {
      width: 25vw;
      height: 4vh;
      text-align: center;
      margin-top: 1vh;
      font-size: 0.8rem; }
    footer form .boton {
      margin-top: 1vh;
      margin-bottom: 1vh;
      font-size: 0.8rem; }
  footer .redes {
    width: 25vw;
    text-align: center; }
    footer .redes .wizarding {
      margin: 0;
      filter: none; }
    footer .redes h5 {
      font-size: 0.7rem;
      margin-top: 1vh;
      margin-bottom: 1vh; }
    footer .redes img {
      max-width: 7vw;
      filter: drop-shadow(0px 0px 3px white); } }

@media (max-width: 390px) {
  .navbar-nav .dropdown-menu.show {
    width: 26vw; }
    .navbar-nav .dropdown-menu.show .dropdown-item {
      padding: 0;
      padding-left: 1vw;
      font-size: 0.8rem; } }

.encabezadoCasas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh; }
  .encabezadoCasas div {
    max-width: 50%; }
  .encabezadoCasas h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoCasas p {
    padding-right: 0.5vw;
    margin-left: 3vw;
    font-size: 3rem; }
  .encabezadoCasas img {
    max-height: 80vh;
    margin-right: 1vw; }

.presentacion {
  max-width: 98%;
  max-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .presentacion p {
    font-size: 3rem;
    max-width: 45vw;
    margin-left: 2vw; }
  .presentacion img {
    max-width: 40vw;
    margin-right: 1vw; }

.fundador {
  max-width: 98%;
  margin: auto;
  margin-top: 2vh;
  display: flex; }
  .fundador img {
    box-shadow: 0.5px 0.5px 20px black;
    float: right;
    padding: 1vw;
    margin-top: 9vh;
    margin-left: 1vw;
    margin-right: 1vw; }
  .fundador h3 {
    padding-left: 3vw;
    font-size: 3rem; }
  .fundador p {
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 1.5rem;
    max-width: 95%; }

.curiosidades {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  margin-top: 2vh; }
  .curiosidades .salaComun {
    margin-bottom: 2vh;
    padding: 1vh 1vw 0 1vw; }
    .curiosidades .salaComun p {
      max-width: 98%; }
  .curiosidades .reliquia {
    display: flex;
    margin-bottom: 2vh; }
    .curiosidades .reliquia img {
      max-height: 50vh;
      margin: 1vw;
      box-shadow: 0.5px 0.5px 20px black; }
    .curiosidades .reliquia .salaComun_img {
      display: none; }
  .curiosidades .rSlytherin figure {
    display: none; }
  .curiosidades .famosos {
    display: flex;
    justify-content: space-around; }
    .curiosidades .famosos .ulFamosos {
      width: 65%;
      box-shadow: none; }
    .curiosidades .famosos div {
      width: 30vw;
      padding: 1vw 1vh 1vw 1vh;
      margin: 1vw;
      box-shadow: 0.5px 0.5px 20px black; }
      .curiosidades .famosos div img {
        max-width: 98%;
        padding-left: 1.5vw;
        padding-right: 1vw;
        margin-top: 2vh; }
      .curiosidades .famosos div p {
        font-size: 1rem;
        padding: 0; }
  .curiosidades h3 {
    margin: 0;
    padding-left: 3vw;
    font-size: 3rem; }
  .curiosidades h4 {
    padding-left: 1vw;
    font-size: 2rem; }
  .curiosidades p {
    font-size: 1.5rem;
    padding-left: 1vw; }
  .curiosidades li {
    font-size: 1.5rem;
    padding-left: 1vw;
    list-style: none; }

.eGryffindor {
  background-color: rgba(116, 0, 1, 0.5); }
  .eGryffindor h1 {
    color: #dcaf3a; }
  .eGryffindor i {
    color: #dcaf3a; }

.preGryffindor {
  background-color: rgba(116, 0, 1, 0.7); }
  .preGryffindor p {
    color: #dcaf3a;
    max-width: 60%;
    padding-right: 0.5vw; }
  .preGryffindor img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }
  .fGryffindor h3 {
    color: #dcaf3a;
    text-shadow: 0px 0px 30px #f7ee23; }
  .fGryffindor p {
    color: #dcaf3a; }

.scGryffindor {
  background-color: rgba(116, 0, 1, 0.4);
  color: #dcaf3a; }

.rGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }

.famGryffindor {
  background-color: rgba(116, 0, 1, 0.4); }
  .famGryffindor p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cGryffindor {
  margin: 0;
  background-color: rgba(116, 0, 1, 0.4);
  color: #dcaf3a;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Gryffindor {
  color: #dcaf3a; }

.pGryffindor {
  color: #dcaf3a; }

.liGryffindor {
  color: #dcaf3a; }

.eHufflepuff {
  background-color: rgba(242, 193, 54, 0.7); }
  .eHufflepuff h1 {
    color: #131a1c; }
  .eHufflepuff i {
    color: #2c1f10; }
  .eHufflepuff img {
    max-height: 70vh; }

.preHufflepuff {
  background-color: rgba(242, 193, 54, 0.8);
  max-height: 80vh; }
  .preHufflepuff p {
    max-width: 55%;
    color: #2c1f10;
    font-weight: 500; }
  .preHufflepuff img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fHUfflepuff {
  background-color: rgba(242, 193, 54, 0.8); }
  .fHUfflepuff h3 {
    color: #131a1c;
    text-shadow: 0px 0px 25px #2c1f10; }
  .fHUfflepuff p {
    color: #2c1f10;
    font-weight: 500; }

.scHufflepuff {
  background-color: rgba(242, 193, 54, 0.8);
  color: #2c1f10; }
  .scHufflepuff p {
    max-width: 90vw;
    font-weight: 500; }

.rHufflepuff {
  background-color: rgba(242, 193, 54, 0.8); }

.famHufflepuff {
  background-color: rgba(242, 193, 54, 0.8); }
  .famHufflepuff p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cHufflepuff {
  margin: 0;
  background-color: rgba(242, 193, 54, 0.8);
  color: #2c1f10;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Hufflepuff {
  color: #2c1f10; }

.pHufflepuff {
  color: #2c1f10; }

.liHufflepuff {
  color: #2c1f10; }

.eRavenclaw {
  background-color: rgba(45, 58, 101, 0.5); }
  .eRavenclaw div {
    max-width: 65%; }
  .eRavenclaw h1 {
    color: #e6edea; }
  .eRavenclaw i {
    color: #e6edea; }

.preRavenclaw {
  background-color: rgba(45, 58, 101, 0.9);
  max-height: 90vh; }
  .preRavenclaw p {
    color: #e6edea;
    max-width: 65%;
    padding-right: 0.5vw; }
  .preRavenclaw img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }
  .fRavenclaw h3 {
    color: #e6edea;
    text-shadow: 0px 0px 30px #e6edea; }
  .fRavenclaw p {
    color: #e6edea; }

.scRavenclaw {
  background-color: rgba(45, 58, 101, 0.9);
  color: #e6edea; }
  .scRavenclaw p {
    max-width: 90vw; }

.rRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }

.famRavenclaw {
  background-color: rgba(45, 58, 101, 0.9); }
  .famRavenclaw p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cRavenclaw {
  margin: 0;
  background-color: rgba(45, 58, 101, 0.9);
  color: #e6edea;
  padding-left: 3vw;
  font-size: 3rem; }

.h4Ravenclaw {
  color: #e6edea; }

.pRavenclaw {
  color: #e6edea; }

.liRavenclaw {
  color: #e6edea; }

.eSlytherin {
  background-color: rgba(21, 48, 42, 0.6); }
  .eSlytherin div {
    max-width: 65%; }
  .eSlytherin h1 {
    color: #e2e3e4;
    margin-bottom: 2vh; }
  .eSlytherin p {
    margin-top: 5vh; }
  .eSlytherin i {
    color: #e2e3e4; }

.preSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  max-height: 80vh; }
  .preSlytherin p {
    color: #e2e3e4;
    max-width: 65%;
    padding-right: 0.5vw; }
  .preSlytherin img {
    max-height: 90vh;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.fSlytherin {
  background-color: rgba(21, 48, 42, 0.9); }
  .fSlytherin h3 {
    color: #e2e3e4;
    text-shadow: 0px 0px 15px #177553; }
  .fSlytherin p {
    color: #e2e3e4; }

.scSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  color: #e2e3e4; }
  .scSlytherin p {
    max-width: 90vw; }

.curiosidades .rSlytherin {
  background-color: rgba(21, 48, 42, 0.9);
  display: inline-block; }
  .curiosidades .rSlytherin .imgGuardapelo {
    float: right;
    margin-top: 9vh;
    margin-right: 2vw; }
  .curiosidades .rSlytherin p {
    max-width: 98%; }

.famSlytherin {
  background-color: rgba(21, 48, 42, 0.9); }
  .famSlytherin p {
    margin-top: 1vh;
    text-align: center;
    font-weight: 500; }

.cSlytherin {
  margin: 0;
  background-color: rgba(21, 48, 42, 0.9);
  color: #e2e3e4; }

.h4Slytherin {
  color: #e2e3e4; }

.pSlytherin {
  color: #e2e3e4; }

.liSlytherin {
  color: #e2e3e4; }

@media (max-width: 1066px) {
  .presentacion {
    max-height: 80vh; }
    .presentacion p {
      font-size: 2.5rem; }
  .eRavenclaw p {
    font-size: 2.5rem; }
  .curiosidades .rRavenclaw p {
    font-size: 1.3rem; }
  .curiosidades .rRavenclaw img {
    max-height: 53vh;
    margin-top: 4vh; } }

@media (max-width: 930px) {
  .encabezadoCasas p {
    margin-left: 2vw;
    font-size: 2rem; }
  .encabezadoCasas img {
    max-height: 80vh;
    margin-right: 1vw; }
  .preSlytherin p {
    font-size: 2.3rem; }
  .preRavenclaw p {
    font-size: 2rem; } }

@media (max-width: 835px) {
  .encabezadoCasas div {
    max-width: 60%; }
  .encabezadoCasas h1 {
    font-size: 3rem; }
  .encabezadoCasas p {
    margin-left: 2vw;
    font-size: 2rem; }
  .encabezadoCasas img {
    max-height: 65vh;
    margin-right: 1vw; }
  .eRavenclaw img {
    max-height: 76vh; }
  .eSlytherin img {
    max-height: none;
    max-width: 50vw; }
  .presentacion p {
    font-size: 2rem; }
  .preRavenclaw p {
    font-size: 1.7rem; } }

@media (max-width: 768px) {
  .encabezadoCasas {
    align-items: center; }
    .encabezadoCasas div {
      display: flex;
      min-width: 100%; }
      .encabezadoCasas div h1 {
        width: 50%;
        padding-top: 10vh; }
      .encabezadoCasas div span {
        font-weight: 600;
        padding-right: 2vw; }
    .encabezadoCasas img {
      display: none; }
  .curiosidades .reliquia {
    flex-direction: column; }
    .curiosidades .reliquia .imgGuardapelo {
      display: none; }
    .curiosidades .reliquia figure {
      display: flex;
      justify-content: space-around; }
      .curiosidades .reliquia figure .salaComun_img {
        display: block; }
  .curiosidades .famosos li {
    font-size: 1.3rem; }
  .curiosidades .famosos div {
    width: 60vw; } }

@media (max-width: 576px) {
  .encabezadoCasas {
    align-items: center; }
    .encabezadoCasas div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .encabezadoCasas div h1 {
        width: 50%;
        padding-top: 0; }
      .encabezadoCasas div span {
        font-weight: 500;
        padding-right: 0;
        max-width: 96%;
        margin: auto; }
        .encabezadoCasas div span p {
          margin: 0; }
        .encabezadoCasas div span .txtAutor {
          padding-left: 4vw;
          font-size: 1.7rem; }
  .eRavenclaw div .txtFrase {
    font-size: 1.5rem; }
  .eRavenclaw div .txtAutor {
    padding-left: 4vw;
    font-size: 1.7rem; }
  .presentacion, .preHufflepuff, .preGryffindor, .preRavenclaw, .preSlytherin {
    flex-direction: column;
    align-items: center;
    max-height: none; }
    .presentacion p, .preHufflepuff p, .preGryffindor p, .preRavenclaw p, .preSlytherin p {
      max-width: 95%;
      margin: auto;
      font-size: 2rem; }
    .presentacion img, .preHufflepuff img, .preGryffindor img, .preRavenclaw img, .preSlytherin img {
      margin: 0;
      margin-top: 2vh;
      margin-bottom: 2vh;
      box-shadow: 0 0 10px black; }
  .fundador div h3 {
    font-size: 2rem; }
  .fundador div p {
    font-size: 1.2rem;
    padding-right: 2vw;
    max-width: none; }
  .fundador div img {
    margin: 2vw; }
  .curiosidades h3 {
    font-size: 2.5rem; }
  .curiosidades h4 {
    font-size: 2rem; }
  .curiosidades .salaComun p {
    font-size: 1.2rem;
    max-width: none;
    padding: 1vh 2vw 1vw 2vw; }
  .curiosidades .reliquia p {
    font-size: 1.2rem;
    max-width: none;
    padding: 1vh 2vw 1vw 2vw; }
  .curiosidades .rSlytherin img, .curiosidades .rRavenclaw img {
    max-height: 40vh; }
  .curiosidades .famosos ul {
    padding: 0; }
  .curiosidades .famosos li {
    font-size: 1rem; } }

@media (max-width: 425px) {
  .presentacion p {
    font-size: 1.5rem; }
  .presentacion img {
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0 10px black; }
  .fundador div {
    display: grid;
    grid-template-areas: "nombre" "bio" "img";
    justify-items: center; }
    .fundador div h3 {
      grid-area: nombre;
      font-size: 2.5rem;
      padding-left: 0; }
    .fundador div p {
      grid-area: bio;
      font-weight: 550;
      text-align: center;
      cursor: pointer; }
    .fundador div img {
      float: none;
      grid-area: img; }
  .curiosidades h3 {
    font-size: 2rem; }
  .curiosidades h4 {
    font-size: 1.7rem;
    text-align: center; }
  .curiosidades p {
    text-align: center;
    font-weight: 550; }
  .curiosidades .reliquia figure {
    flex-direction: column;
    align-items: center; }
    .curiosidades .reliquia figure img {
      max-height: none;
      max-width: 85vw; }
  .curiosidades .famosos {
    flex-direction: column;
    align-items: center; }
    .curiosidades .famosos .ulFamosos {
      width: 100%;
      margin-bottom: 0; }
    .curiosidades .famosos li {
      font-weight: 550;
      font-size: 1.5rem; }
    .curiosidades .famosos div {
      width: 95%;
      margin: 3vw; } }

@media (max-width: 375px) {
  .encabezadoCasas {
    align-items: center; }
    .encabezadoCasas div span p {
      font-size: 1.5rem; } }

.encabezadoIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.6);
  margin-bottom: 2vh; }
  .encabezadoIndex h1 {
    color: #faf6e7;
    font-size: 7rem;
    margin-bottom: -80px; }
  .encabezadoIndex img {
    max-width: 45vw;
    margin-bottom: -80px; }
  .encabezadoIndex p {
    color: #faf6e7;
    font-size: 3rem; }

.bienvenida {
  display: flex;
  background-color: #1b1b1b;
  justify-content: space-between; }
  .bienvenida p {
    max-width: 50%;
    color: #faf6e7;
    font-size: 2rem;
    padding-left: 2vw;
    padding-top: 2vh; }
  .bienvenida img {
    max-width: 30%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 4vw; }

.mainMenu {
  width: 95%;
  margin: auto; }
  .mainMenu .mainLibros, .mainMenu .mainColeccionables, .mainMenu .mainGry, .mainMenu .mainHuf, .mainMenu .mainRav, .mainMenu .mainSly {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 35%, rgba(67, 110, 125, 0.7) 90%);
    justify-content: space-between;
    align-items: center;
    color: #faf6e7;
    text-decoration: none; }
    .mainMenu .mainLibros h2, .mainMenu .mainColeccionables h2, .mainMenu .mainGry h2, .mainMenu .mainHuf h2, .mainMenu .mainRav h2, .mainMenu .mainSly h2 {
      font-size: 3rem;
      padding-left: 3vw; }
    .mainMenu .mainLibros img, .mainMenu .mainColeccionables img, .mainMenu .mainGry img, .mainMenu .mainHuf img, .mainMenu .mainRav img, .mainMenu .mainSly img {
      max-width: 10%;
      padding-top: 2vh;
      padding-bottom: 2vh;
      padding-right: 2vw; }
  .mainMenu .mainGry {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(154, 28, 31, 0.9) 95%); }
  .mainMenu .mainHuf {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(242, 193, 54, 0.9) 95%); }
  .mainMenu .mainRav {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(18, 29, 62, 0.9) 95%); }
  .mainMenu .mainSly {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.7) 20%, rgba(23, 117, 83, 0.9) 95%); }

@media (max-width: 1066px) {
  .encabezadoIndex h1 {
    font-size: 5rem; }
  .bienvenida p {
    max-width: 65%; }
  .bienvenida img {
    max-width: 49vh; } }

@media (max-width: 991px) {
  .encabezadoIndex h1 {
    font-size: 4.5rem;
    margin-bottom: -60px; }
  .encabezadoIndex img {
    margin-bottom: -60px; }
  .encabezadoIndex p {
    font-size: 2.5rem; }
  .bienvenida img {
    max-width: 50vh; }
  .bienvenida p {
    font-size: 1.7rem; } }

@media (max-width: 855px) {
  .encabezadoIndex h1 {
    font-size: 4.5rem;
    margin-bottom: -50px; }
  .encabezadoIndex img {
    max-width: 40vw;
    margin-bottom: -50px; }
  .encabezadoIndex p {
    font-size: 2.0rem; }
  .bienvenida img {
    max-width: 45vh; }
  .bienvenida p {
    font-size: 1.5rem; } }

@media (max-width: 700px) {
  .encabezadoIndex h1 {
    font-size: 4rem;
    margin-bottom: -40px; }
  .encabezadoIndex img {
    max-width: 35vw;
    margin-bottom: -40px; }
  .encabezadoIndex p {
    font-size: 1.5rem; }
  .bienvenida img {
    max-width: 45vw; } }

@media (max-width: 610px) {
  .encabezadoIndex h1 {
    font-size: 3rem;
    margin-bottom: -30px; }
  .encabezadoIndex img {
    max-width: 35vw;
    margin-bottom: -30px; }
  .encabezadoIndex p {
    font-size: 1.5rem; } }

@media (max-width: 510px) {
  .encabezadoIndex h1 {
    font-size: 2.2rem;
    margin-bottom: -20px; }
  .encabezadoIndex img {
    max-width: 35vw;
    margin-bottom: -20px; }
  .encabezadoIndex p {
    font-size: 1.2rem; }
  .bienvenida img {
    max-width: 45vw; }
  .bienvenida p {
    font-size: 1rem; } }

@media (max-width: 475px) {
  .encabezadoIndex h1 {
    font-size: 2rem;
    margin-bottom: -10px; }
  .encabezadoIndex img {
    max-width: 35vw;
    margin-bottom: -10px; }
  .encabezadoIndex p {
    font-size: 1rem; }
  .bienvenida p {
    font-size: 0.8rem; }
  .mainMenu .mainLibros h2, .mainMenu .mainColeccionables h2, .mainMenu .mainGry h2, .mainMenu .mainHuf h2, .mainMenu .mainRav h2, .mainMenu .mainSly h2 {
    font-size: 2rem;
    padding-left: 2vw; }
  .mainMenu .mainLibros img, .mainMenu .mainColeccionables img, .mainMenu .mainGry img, .mainMenu .mainHuf img, .mainMenu .mainRav img, .mainMenu .mainSly img {
    max-width: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw; } }

@media (max-width: 345px) {
  .encabezadoIndex h1 {
    font-size: 1.5rem;
    margin-bottom: -10px; }
  .encabezadoIndex img {
    max-width: 35vw;
    margin-bottom: -10px; }
  .encabezadoIndex p {
    font-size: 0.8rem; }
  .bienvenida p {
    font-size: 0.7rem; } }

.encabezadoLibros {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 0.6);
  margin-bottom: 2vh; }
  .encabezadoLibros span {
    width: 50%; }
  .encabezadoLibros h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoLibros p {
    margin-left: 1vw;
    font-size: 2.5rem; }
  .encabezadoLibros img {
    margin-right: 1vw; }

.reseñaLibros,
.reseñaLibrosResponsive {
  background-color: #1b1b1b;
  max-width: 98%;
  margin: auto;
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: nowrap; }
  .reseñaLibros h2,
  .reseñaLibrosResponsive h2 {
    font-size: 3rem;
    text-align: center; }
  .reseñaLibros p,
  .reseñaLibrosResponsive p {
    font-size: 1.5rem;
    padding-left: 2vh; }
  .reseñaLibros img,
  .reseñaLibrosResponsive img {
    max-height: 70vh;
    padding: 2vh; }
  .reseñaLibros button,
  .reseñaLibrosResponsive button {
    background-color: #faf6e7;
    min-width: 12vw;
    max-height: 7vh;
    font-size: 1.2rem;
    color: #1b1b1b;
    margin-left: 50%;
    margin-bottom: 1vh;
    border-radius: 30vh;
    border: none;
    box-shadow: 1px 1px 10px black; }
  .reseñaLibros button:hover,
  .reseñaLibrosResponsive button:hover {
    background-color: #1b1b1b;
    color: #faf6e7;
    box-shadow: 0px 0px 2px #faf6e7; }

.reseñaLibrosResponsive {
  display: none; }

@media (max-width: 1066px) {
  .encabezadoLibros h1 {
    font-size: 3rem; }
  .encabezadoLibros img {
    max-width: 65vh; }
  .reseñaLibros h2,
  .reseñaLibrosResponsive h2 {
    font-size: 2.5rem; }
  .reseñaLibros img,
  .reseñaLibrosResponsive img {
    max-height: 90vh;
    padding: 2vh; } }

@media (max-width: 930px) {
  .encabezadoLibros h1 {
    font-size: 2.5rem; }
  .encabezadoLibros p {
    font-size: 2rem; }
  .reseñaLibros h2,
  .reseñaLibrosResponsive h2 {
    font-size: 2rem;
    text-align: center; }
  .reseñaLibros p,
  .reseñaLibrosResponsive p {
    font-size: 1rem;
    padding-left: 2vh; }
  .reseñaLibros img,
  .reseñaLibrosResponsive img {
    max-height: 60vh; } }

@media (max-width: 835px) {
  .encabezadoLibros h1 {
    font-size: 2.5rem; }
  .encabezadoLibros p {
    font-size: 1.7rem; }
  .reseñaLibros,
  .reseñaLibrosResponsive {
    align-items: center; }
    .reseñaLibros p,
    .reseñaLibrosResponsive p {
      font-size: 1rem; }
    .reseñaLibros img,
    .reseñaLibrosResponsive img {
      max-height: 60vh; } }

@media (max-width: 725px) {
  .encabezadoLibros h1 {
    font-size: 2rem; }
  .encabezadoLibros p {
    font-size: 1.5rem; }
  .reseñaLibros h2,
  .reseñaLibrosResponsive h2 {
    font-size: 1.5rem; }
  .reseñaLibros button,
  .reseñaLibrosResponsive button {
    background-color: #faf6e7;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25vh; } }

@media (max-width: 576px) {
  .encabezadoLibros h1 {
    display: none; }
  .encabezadoLibros p {
    font-size: 1.5rem;
    margin-bottom: 0; }
  .encabezadoLibros i {
    padding-left: 1vw; }
  .encabezadoLibros img {
    max-width: 45vw;
    max-height: 35vw; }
  .reseñaLibros {
    max-width: 95%;
    flex-direction: column-reverse; }
    .reseñaLibros div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .reseñaLibros h2 {
      padding: 0;
      font-size: 1.2rem; }
    .reseñaLibros p {
      padding: 1vh;
      text-align: justify; }
    .reseñaLibros button {
      margin-left: 0; }
  .reseñaLibrosResponsive {
    display: flex; }
    .reseñaLibrosResponsive div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "titulo" "foto" "descripcion" "boton";
      justify-items: center; }
      .reseñaLibrosResponsive div h2 {
        grid-area: titulo; }
      .reseñaLibrosResponsive div img {
        grid-area: foto;
        max-height: 50vh;
        padding: 0; }
      .reseñaLibrosResponsive div p {
        grid-area: descripcion;
        width: 98%;
        margin-top: 1vh;
        padding-right: 2vh; }
      .reseñaLibrosResponsive div input {
        grid-area: boton;
        margin: 0;
        min-width: 15vw;
        margin-bottom: 2vh; } }

@media (max-width: 475px) {
  .encabezadoLibros h1 {
    font-size: 1.5rem; }
  .encabezadoLibros p {
    font-size: 1.2rem; }
    .encabezadoLibros p span {
      display: none; }
  .reseñaLibrosResponsive div img {
    max-height: 40vh; }
  .reseñaLibrosResponsive div p {
    font-size: 0.7rem; }
  .reseñaLibrosResponsive div input {
    min-width: 20vw; } }

@media (max-width: 375px) {
  .encabezadoLibros h1 {
    font-size: 1.2rem; }
  .encabezadoLibros p {
    font-size: 1rem; }
  .reseñaLibrosResponsive {
    display: flex; }
    .reseñaLibrosResponsive div h2 {
      font-size: 1.2rem; } }

@media (max-width: 320px) {
  .encabezadoLibros span {
    width: 55%; }
  .encabezadoLibros h1 {
    font-size: 1rem; }
  .encabezadoLibros p {
    font-size: 0.8rem;
    padding-left: 2vw; }
  .reseñaLibrosResponsive {
    display: flex; }
    .reseñaLibrosResponsive div h2 {
      font-size: 1.2rem; }
    .reseñaLibrosResponsive div img {
      max-height: 35vh; } }

.encabezadoCol {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 0.6); }
  .encabezadoCol h1 {
    font-size: 4rem;
    text-align: center; }
  .encabezadoCol p {
    margin-left: 1vw;
    font-size: 2.5rem; }
  .encabezadoCol img {
    max-width: 50%;
    padding: 1vw; }

.productos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  overflow: hidden; }

.formProductos {
  background-color: #1b1b1b;
  margin-top: 2vh;
  margin-left: 1vw;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #faf6e7;
  padding: 3vh; }
  .formProductos .busqueda {
    background-color: #363636;
    max-width: 100%;
    color: #faf6e7;
    padding: 0.5vw;
    margin-bottom: 3vh;
    border-radius: 12vh;
    border: 1px solid black; }
  .formProductos .busqueda::placeholder {
    color: #faf6e7; }
  .formProductos .busqueda:focus {
    box-shadow: none;
    border: none; }
  .formProductos select {
    background-color: #363636;
    margin-bottom: 3vh;
    border: 1px solid black; }
    .formProductos select option {
      color: #faf6e7; }
  .formProductos .check {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh; }
  .formProductos .precio {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    align-items: center; }
  .formProductos .inputPrecio {
    max-width: 100%;
    background-color: #363636; }
  .formProductos .botonPrecio {
    width: 50%;
    margin-left: 25%; }

.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 90vw;
  margin: 5vh auto;
  padding: 2vw;
  background-color: rgba(27, 27, 27, 0.7); }

.tarjetaProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin: 2vh auto;
  box-shadow: 0px 0px 20px 1px black; }
  .tarjetaProducto h4 {
    font-size: 1.5rem; }
  .tarjetaProducto img {
    max-width: 80%; }
  .tarjetaProducto p {
    font-size: 1.2rem;
    font-weight: 600; }

@media (max-width: 1066px) {
  .formProductos {
    max-width: 20%; }
  .cromo {
    width: 21%; }
    .cromo h3 {
      font-size: 1.3rem; }
    .cromo p {
      margin-top: 0;
      min-height: 35vh; }
    .cromo .boton {
      width: 10vw; } }

@media (max-width: 930px) {
  .encabezadoCol h1 {
    font-size: 2.5rem; }
  .encabezadoCol p {
    font-size: 2rem; } }
