// ENCABEZADO
.encabezadoCol {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(27, 27, 27, 0.600);

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    p {
        margin-left: 1vw;
        font-size: 2.5rem;
    }

    img {
        max-width: 50%;
        padding: 1vw;
    }

}

// PRODUCTOS GENERAL
.productos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    overflow: hidden;
}

// ASIDE PRODUCTOS
.formProductos {
    background-color: $fondo;
    margin-top: 2vh;
    margin-left: 1vw;
    max-width: 15%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $letra-blanco;
    padding: 3vh;

    .busqueda {
        background-color: rgb(54, 54, 54);
        max-width: 100%;
        color: $letra-blanco;
        padding: 0.5vw;
        margin-bottom: 3vh;
        border-radius: 12vh;
        border: 1px solid black;
    }

    .busqueda::placeholder {
        color: $letra-blanco;
    }

    .busqueda:focus {
        box-shadow: none;
        border: none;
    }

    select {
        background-color: rgb(54, 54, 54);
        margin-bottom: 3vh;
        border: 1px solid black;

        option {
            color: $letra-blanco;
        }
    }
    .check{
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
    }
    .precio{
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        align-items: center;
    }
    .inputPrecio{
        max-width: 100%;
        background-color: rgb(54, 54, 54);
    }
    .botonPrecio{
        width: 50%;
        margin-left: 25%;
    }
}

// GRILLA DE PRODUCTOS
.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 90vw;
    margin: 5vh auto;
    padding: 2vw;
    background-color: rgba(27, 27, 27, 0.7);
}

.tarjetaProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    margin:2vh auto;
    box-shadow: 0px 0px 20px 1px black;

    h4{
        font-size: 1.5rem;
    }

    img{
        max-width: 80%;
    }

    p{
        font-size: 1.2rem;
        font-weight: 600;
    }
}






// --------------------------------------------ADAPTACION RESPONSIVE--------------------------------------------
// ARREGLO PANTALLAS GRANDES 1024
@media (max-width: 1066px){
    .formProductos {
        max-width: 20%;
    }

    .cromo {
        width: 21%;
    
        h3 {
            font-size: 1.3rem;
        }
        p{
            margin-top: 0;
            min-height: 35vh;
        }
        .boton {
            width: 10vw;   
        }
    
    }
    
}
@media (max-width: 930px){
    .encabezadoCol{
            
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 2rem;
        }
    }

}