// ENCABEZADO
.encabezadoCol {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(27, 27, 27, 0.600);

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    p {
        margin-left: 1vw;
        font-size: 2.5rem;
    }

    img {
        max-width: 50%;
        padding: 1vw;
    }

}

// PRODUCTOS GENERAL
.productos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    overflow: hidden;
}

// FILTROS
.contenedorFiltro{
    background-color: rgba(27, 27, 27, 0.7);
    width: 90vw;
    margin: auto;
}

.botonMostrarFiltros{
    display: none;
}

.filtroProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    margin: 2vh auto;
    padding: 3vh;

    select {
        background-color: $fondo;
        padding: 1vh;
        box-shadow: 0px 0px 5px 5px  rgb(0, 0, 0);
        outline: none;
        border: none;

        option {
            color: $letra-blanco;
            border: none;
            outline: none;
        }
    }

    .check {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .botonFiltro{
        width: 15%;
        height: 5vh;
        border-radius: 10px;
        background-color: $fondo;
        outline:1px solid $letra-blanco;
        box-shadow: 0px 0px 5px 5px black;
        border: none;
        transition: width 1s;

    }

    .botonFiltro:hover{
        width: 25%;
        transition: width 0.5s;
    }

    .botonFiltro:active{
        background-color: black;
        outline:1px solid $fondo;
    }
}

// GRILLA DE PRODUCTOS
.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 90vw;
    margin: 5vh auto;
    padding: 2vw;
    background-color: rgba(27, 27, 27, 0.7);
}

.tarjetaProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    margin: 2vh auto;
    padding: 2vh;
    box-shadow: 0px 0px 20px 1px black;

    h4 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2vh;
    }

    img {
        max-width: 80%;
        margin-bottom: 2vh;
    }

    p {
        font-size: 1.2rem;
        font-weight: 600;
    }
}






// --------------------------------------------ADAPTACION RESPONSIVE--------------------------------------------

@media (max-width: 930px) {
    .encabezadoCol {

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 2rem;
        }
    }
    .filtroProductos {    
    
        .botonFiltro{
            width: 25%;    
        }
    }

}

@media(max-width: 769px){



    .tarjetaProducto {
        max-width: 47%;   
    }

}

@media(max-width: 426px){

    .filtroProductos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin-top: 2vh;
        margin: 2vh auto;
        padding: 3vh;
        background-color: rgba(27, 27, 27, 0.7);
    
        select {
            background-color: $fondo;
            padding: 1vh;
            box-shadow: 0px 0px 5px 5px  rgb(0, 0, 0);
            outline: none;
            border: none;
    
            option {
                color: $letra-blanco;
                border: none;
                outline: none;
            }
        }
    
        .check {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    
        .botonFiltro{
            width: 15%;
            height: 5vh;
            border-radius: 10px;
            background-color: $fondo;
            outline:1px solid $letra-blanco;
            box-shadow: 0px 0px 5px 5px black;
            border: none;
            transition: width 1s;
    
        }
    
        .botonFiltro:hover{
            width: 25%;
            transition: width 0.5s;
        }
    
        .botonFiltro:active{
            background-color: black;
            outline:1px solid $fondo;
        }
    }


    .tarjetaProducto {

        max-width: 90%;

    }
}