// FUENTE
$letra: 'EB Garamond', serif;

//COLORES
$letra-blanco: rgb(250, 246, 231);
$fondo: rgb(27, 27, 27);
//--------- GRYFFINDOR
$gryffindor-rojo: rgb(116, 0, 1);
$gryffindor-amarillo: rgb(247, 238,35);
$gryffindor-caramelo: rgb(220,175,58);
//--------- HUFFLEPUFF
$hufflepuff-amarillo: rgb(242,193,54);
$hufflepuff-marron: rgb(44,31,16);
$hufflepuff-negro: rgb(19,26,28);
// -------- RAVENCLAW
$ravenclaw-azul: rgb(45,58,101);
$ravenclaw-oscuro: rgb(18,29,62);
$ravenclaw-plata: rgb(230,237,234);
// -------- SLYTHERIN
$slytherin-esmeralda:rgb(23,117,83);
$slytherin-oscuro:rgb(21,48,42);
$slytherin-plata:rgb(226,227,228);